.flexStructure {
    display: flex;
    flex-direction: row;
    text-align: start;
}

.leftbound {
    text-align: left;
}

.rightbound {
    text-align: right;
}

h3 {
    margin: auto;
}

.leftImg {
    margin-right: 7px;
}

.rightImg {
    margin-left: 7px;
}

.centerbound {
    text-align: center;
}

.barFix {
    margin-top: 15px;
}

body {
    background-color: rgb(34, 32, 32);
    font-family: Helvetica;
    color: rgb(143, 118, 7);
}

hr {
    color: white;
    height: 5px;
}

a {
    color: rgb(143, 118, 7);
    ;
}

a:visited {
    color: rgb(143, 118, 7);
    ;
}